// Raleway
@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway-Regular.woff");
  src: url("../assets/fonts/Raleway-Regular.woff2");
  font-weight: 400; //Regular Weight
  font-style: normal;
}
